<h1>Accessible Modal Component</h1>

<p>Welcome to the accessible modal testing page!</p>
<button class="button button-primary" type="button">Show Modal</button>

<div class="form-field">
  <label for="firstName">First name</label>
  <input id="firstName">
</div>

<div class="form-field">
  <label for="surname">Surname</label>
  <input id="surname">
</div>

<div class="form-field">
  <label for="age">Age</label>
  <input id="age">
</div>

<div class="button-group">
  <button class="button button-primary" type="button">Submit</button>
  <button class="button button-secondary" type="button">Cancel</button>
</div>
